
 /**
  * Colors
  *
  * @return vars
  */ 
 
 $primary-color    : #97d7db ; // Blue
 $secondary-color  : #fcee93 ; // Yellow
 $tertiary-color   : #f1d6a3 ; // Orange
 $quaternary-color : #dce9bb ; // Green
 $quadrary-color   : #dbcae8 ; // Purple
 




 /**
  * Fonts Settings
  *
  * @return array
  */
 
 $fonts_settings : (
     'font-family' : 'Miso',
     'font-size'   : 16px,
     'line-height' : 24px
 );
 




 /**
  * Breakpoints
  *
  * @return array
  */
 
 $breakpoints : (
     'huge' : 1500px,
     'massive' : 1800px,
 );

 /* ------------------------------------- */




