
 /**
  * Footer Component Style
  *
  */ 
 
 .Footer{
     display: block;
     width: 100%;
     font-size: rem(19px);
     padding: rem(7px) 0;
     text-align: center;
     color: rgba(black,.8);
     background: white;
 }

 /* ------------------------------------- */