
 /**
  * Levels Component Style
  *
  */ 
 
 .Levels{
     text-align: center;
     margin-top: rem(60px);
     
     &__item{
         display:inline-block;
         position: relative;
         @include square(rem(260px));
         cursor: pointer;
         
         & + &{
             margin-left: rem(40px);
         }
         
         &:hover{
             opacity: .7;
         }
         
         &__name{
             text-transform: uppercase;
             color:white;
             font-size: rem(36px);
             
             &:after{
                 content:'';
                 display: block;
                 background: white;
                 border-radius: 50%;
                 margin-top: rem(20px);
                 width: 100%;     height: 100%;
                 margin-bottom: rem(20px);
             }
         }
         
         &#level1 .Levels__item__name:after{
             background: url('../img/easy.svg') $quaternary-color;
             background-repeat: no-repeat;
             background-position: center;
             background-size: 70%;
         }
         
         &#level2 .Levels__item__name:after{
             background:url('../img/medium.svg')  $tertiary-color;
             background-repeat: no-repeat;
             background-position: center;
             background-size: 70%;
         }
         
         &#level3 .Levels__item__name:after{
             background:url('../img/difficult.svg')  $secondary-color;
             background-repeat: no-repeat;
             background-position: center;
             background-size: 60%;
         }
         
         
         &__count{
             font-size: rem(25px);
             color:rgba(black,.8);

             span{
                 background: white;
                 border-radius: 50%;
                 font-size: rem(27px);
                 padding: rem(4px) rem(16px);
                 font-family: 'Grafolita';
                 margin-right: rem(5px);
             }
         }
     }
 }

 /* ------------------------------------- */