
 /**
  * Profil Component Style
  *
  */ 
 
 .Profil{
     float: right;
     position: relative;
     padding-top: rem(15px);
     margin-right: rem(50px);
     width: rem(148px);
     background-color: $secondary-color;
     text-align: center;
     cursor: pointer;
     
     &__name{
         display: block;
         font-family: 'Grafolita';
         font-size: rem(26px);
         padding-bottom: rem(15px);
     }
     
     &__logout{
         display:block;
         padding: rem(8px) 0;
         width: 100%;
         background-color: mix($secondary-color,black,90%);
         text-transform: uppercase;
         font-size: rem(21px);
         cursor: pointer;
         
         &:hover{
             background-color: mix($secondary-color,black,80%);
         }
     }
 }

 /* ------------------------------------- */