
 /**
  * Header Component Style
  *
  */ 
 
 .Shapes{
     text-align: center;
     
     &__main{
         display: inline-block;
     }
         
     &__timer, 
     &__message{
         font-size: rem(32px);
         padding-bottom: rem(38px);
         opacity: .6;
         padding-top: rem(30px);
     }
 }

 /* ------------------------------------- */